.stat 
{
	float: none;
	margin:0 auto;
	text-align:center;
}

.highlight 
{
	color:#222;
	padding:10px 0;
	font-weight:bold;
	overflow:hidden;
	margin-bottom:0;
	font-size:72px;
	display:block;
}

.stat-details 
{
	font-weight:bold;
	font-size:18px;
	color:#999;
}

.lb-filters
{
	background-color: #222;
	color:#FFF;
}

.lb-cell
{
    text-align:center; 
    vertical-align:middle;
}
.lb-avatar-cell
{
	width: 65px;
}


.lb-avatar-img
{
	width: 60px;
	image-rendering: pixelated;
}

.lb-search-btn
{
	color:#777;	
}